---
layout: blank
---
<div id="bar"></div>
<div class="wrapper-container">
  <div class="wrapper-masthead">
    <div class="container">
      <header class="masthead clearfix">
        <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.baseurl }}{{ site.avatar }}" alt="{{ site.title }}" /></a>

        <div class="site-info">
          <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
          <p class="site-description">{{ site.description }}</p> 
        </div>

        <nav>
          <a href="https://blog.josh.me.uk/">My Blog</a>
          <a href="https://www.parkruncancellations.com/">The Map</a>
          <a href="https://blog.josh.me.uk/about">About Me</a>
          <!--<div title="Toggle Dark Mode" class="switch">
            <span class="btn-toggle"></span>
          </div>-->
        </nav>
      </header>
    </div>
  </div>

  <div class="wrapper-main">
    <div id="main" role="main" class="container">
      {{ content }}
    </div>
  </div>
  <div class="wrapper-footer">
    <div class="container">
      <footer class="footer">
        {% include svg-icons.html %}
        <p>&copy; Copyright Joshua Brunning {% if page.last_modified_at %}{{page.last_modified_at | date: '%Y' }}{% else %}{{page.date | date: '%Y' }}{% endif %}</p>
      </footer>
    </div>
  </div>
</div>
{% include analytics.html %}
