---
layout: default
---

<article class="post detailed">
  <h1>{{ page.title }}</h1>
  <div>
    {% capture date %}{% if page.last_modified_at %}{{ page.last_modified_at }}{% elsif page.date == Nil %}{{ site.time }}{% else %}{{ page.date }}{% endif %}{% endcapture %}
    <p class="author_title" id="lastupdated" datetime="{{ date | date_to_xmlschema }}">{% if page.author == Nil %}{{site.author}}{% else %}{{ page.author }}{% endif %}  ·  {{ date | date: "%R %A, %e&nbsp;%B&nbsp;%Y" }}</p>
    <div class="post-tags">
      {% if post %}
        {% assign tags = post.tags %}
      {% else %}
        {% assign tags = page.tags %}
      {% endif %}
      {% for tag in tags %}
        <a href="/tags/#{{tag|slugize}}">{{tag}}</a>
        {% unless forloop.last %}&nbsp;{% endunless %}
      {% endfor %}
    </div>
  </div>
  {% if post %}
    {% assign categories = post.categories %}
  {% else %}
    {% assign categories = page.categories %}
  {% endif %}
  {% if categories contains "Cancellation Update" %}
  <p>Return to the <a href="/updates">updates page</a></p>
  {% endif %}

  <div class="entry">
    {{ content }}
  </div>

  <div class="post-roles">
    {% if post %}
      {% assign roles = post.roles %}
    {% else %}
      {% assign roles = page.roles %}
    {% endif %}
    {% for role in roles %}
    {% if forloop.first == true %}
        <p>Role{% if forloop.length > 1 %}s{% endif %}:&nbsp;
    {% endif %}
      <a href="/roles/#{{role|slugize}}">{{role}}</a>
      {% if forloop.last %}</p>{% else %}&nbsp;{% endif %}
    {% endfor %}
  </div>

  <div class="post-categories">
    {% for category in categories %}
    {% if forloop.first == true %}
        <p>Categor{% if forloop.length > 1 %}ies{% else %}y{% endif %}:&nbsp;
    {% endif %}
      {% if category == "Cancellation Update" %}
      <a style="text-transform: capitalize;" href="/updates">{{category}}</a>
      {% else %}
      <a style="text-transform: capitalize;" href="/categories/#{{category|slugize}}">{{category}}</a>
      {% endif %}
      {% if forloop.last %}</p>{% else %}&nbsp;{% endif %}
    {% endfor %}
  </div>

  <div>
    <p><span class="share-box">Share:</span> <a href="http://twitter.com/share?text={{ page.title }}&url={{site.url}}{{page.url}}" target="_blank">Twitter</a>, <a href="https://www.facebook.com/sharer.php?u={{site.url}}{{page.url}}" target="_blank">Facebook</a></p>
  </div>

  <!--<div class="date">
    Written on {{ page.date | date: "%e %B %Y" }}
  </div>-->
  {% if comments %}
    {% include disqus.html %}
  {% endif %}
</article>
