---
layout: default
---

<article class="post detailed">
  <h1>{{ page.title }}</h1>
  <div>
    {% assign time = page.date | date: "%R" %}
    {% assign tz = page.date | date: "%z" %}
    {% if tz == "+0000" %}{% assign tzn = "UTC" %}
    {% elsif tz == "+0100" %}{% assign tzn = "UTC+1" %}
    {% elsif tz == "-1200" %}{% assign tzn = "UTC-12" %}
    {% elsif tz == "-1100" %}{% assign tzn = "UTC-11" %}
    {% elsif tz == "-1000" %}{% assign tzn = "UTC-10" %}
    {% elsif tz == "-0930" %}{% assign tzn = "UTC-09:30" %}
    {% elsif tz == "-0900" %}{% assign tzn = "UTC-9" %}
    {% elsif tz == "-0800" %}{% assign tzn = "UTC-8" %}
    {% elsif tz == "-0700" %}{% assign tzn = "UTC-7" %}
    {% elsif tz == "-0600" %}{% assign tzn = "UTC-6" %}
    {% elsif tz == "-0500" %}{% assign tzn = "UTC-5" %}
    {% elsif tz == "-0400" %}{% assign tzn = "UTC-4" %}
    {% elsif tz == "-0330" %}{% assign tzn = "UTC-03:30" %}
    {% elsif tz == "-0300" %}{% assign tzn = "UTC-3" %}
    {% elsif tz == "-0230" %}{% assign tzn = "UTC-02:30" %}
    {% elsif tz == "-0200" %}{% assign tzn = "UTC-2" %}
    {% elsif tz == "-0100" %}{% assign tzn = "UTC-1" %}
    {% elsif tz == "+0200" %}{% assign tzn = "UTC+2" %}
    {% elsif tz == "+0300" %}{% assign tzn = "UTC+3" %}
    {% elsif tz == "+0330" %}{% assign tzn = "UTC+03:30" %}
    {% elsif tz == "+0400" %}{% assign tzn = "UTC+4" %}
    {% elsif tz == "+0430" %}{% assign tzn = "UTC+04:30" %}
    {% elsif tz == "+0500" %}{% assign tzn = "UTC+5" %}
    {% elsif tz == "+0530" %}{% assign tzn = "UTC+05:30" %}
    {% elsif tz == "+0545" %}{% assign tzn = "UTC+05:45" %}
    {% elsif tz == "+0600" %}{% assign tzn = "UTC+6" %}
    {% elsif tz == "+0630" %}{% assign tzn = "UTC+06:30" %}
    {% elsif tz == "+0700" %}{% assign tzn = "UTC+7" %}
    {% elsif tz == "+0800" %}{% assign tzn = "UTC+8" %}
    {% elsif tz == "+0845" %}{% assign tzn = "UTC+08:45" %}
    {% elsif tz == "+0900" %}{% assign tzn = "UTC+9" %}
    {% elsif tz == "+0930" %}{% assign tzn = "UTC+09:30" %}
    {% elsif tz == "+1000" %}{% assign tzn = "UTC+10" %}
    {% elsif tz == "+1030" %}{% assign tzn = "UTC+10:30" %}
    {% elsif tz == "+1100" %}{% assign tzn = "UTC+11" %}
    {% elsif tz == "+1200" %}{% assign tzn = "UTC+12" %}
    {% elsif tz == "+1245" %}{% assign tzn = "UTC+12:45" %}
    {% elsif tz == "+1300" %}{% assign tzn = "UTC+13" %}
    {% elsif tz == "+1345" %}{% assign tzn = "UTC+13:45" %}
    {% elsif tz == "+1400" %}{% assign tzn = "UTC+14" %}
    {% else %}{% assign tzn = "UTC" | append: tz %}
    {% endif %}
    {% if time contains "00:00" %}
      <p class="author_title">{{site.author}}  ·  {{ page.date | date: "%A, %e&nbsp;%B&nbsp;%Y" }}</p>
      {% else %}
      <p class="author_title">{{site.author}}  ·  {{ page.date | date: "%R %A, %e&nbsp;%B&nbsp;%Y" }} {{ tzn }}</p>
    {% endif %}
    {% if page.last_modified_at %}
      {% assign time = page.last_modified_at | date: "%R" %}
      {% assign tz = page.last_modified_at | date: "%z" %}
      {% if tz == "+0000" %}{% assign tzn = "UTC" %}
      {% elsif tz == "+0100" %}{% assign tzn = "UTC+1" %}
      {% elsif tz == "-1200" %}{% assign tzn = "UTC-12" %}
      {% elsif tz == "-1100" %}{% assign tzn = "UTC-11" %}
      {% elsif tz == "-1000" %}{% assign tzn = "UTC-10" %}
      {% elsif tz == "-0930" %}{% assign tzn = "UTC-09:30" %}
      {% elsif tz == "-0900" %}{% assign tzn = "UTC-9" %}
      {% elsif tz == "-0800" %}{% assign tzn = "UTC-8" %}
      {% elsif tz == "-0700" %}{% assign tzn = "UTC-7" %}
      {% elsif tz == "-0600" %}{% assign tzn = "UTC-6" %}
      {% elsif tz == "-0500" %}{% assign tzn = "UTC-5" %}
      {% elsif tz == "-0400" %}{% assign tzn = "UTC-4" %}
      {% elsif tz == "-0330" %}{% assign tzn = "UTC-03:30" %}
      {% elsif tz == "-0300" %}{% assign tzn = "UTC-3" %}
      {% elsif tz == "-0230" %}{% assign tzn = "UTC-02:30" %}
      {% elsif tz == "-0200" %}{% assign tzn = "UTC-2" %}
      {% elsif tz == "-0100" %}{% assign tzn = "UTC-1" %}
      {% elsif tz == "+0200" %}{% assign tzn = "UTC+2" %}
      {% elsif tz == "+0300" %}{% assign tzn = "UTC+3" %}
      {% elsif tz == "+0330" %}{% assign tzn = "UTC+03:30" %}
      {% elsif tz == "+0400" %}{% assign tzn = "UTC+4" %}
      {% elsif tz == "+0430" %}{% assign tzn = "UTC+04:30" %}
      {% elsif tz == "+0500" %}{% assign tzn = "UTC+5" %}
      {% elsif tz == "+0530" %}{% assign tzn = "UTC+05:30" %}
      {% elsif tz == "+0545" %}{% assign tzn = "UTC+05:45" %}
      {% elsif tz == "+0600" %}{% assign tzn = "UTC+6" %}
      {% elsif tz == "+0630" %}{% assign tzn = "UTC+06:30" %}
      {% elsif tz == "+0700" %}{% assign tzn = "UTC+7" %}
      {% elsif tz == "+0800" %}{% assign tzn = "UTC+8" %}
      {% elsif tz == "+0845" %}{% assign tzn = "UTC+08:45" %}
      {% elsif tz == "+0900" %}{% assign tzn = "UTC+9" %}
      {% elsif tz == "+0930" %}{% assign tzn = "UTC+09:30" %}
      {% elsif tz == "+1000" %}{% assign tzn = "UTC+10" %}
      {% elsif tz == "+1030" %}{% assign tzn = "UTC+10:30" %}
      {% elsif tz == "+1100" %}{% assign tzn = "UTC+11" %}
      {% elsif tz == "+1200" %}{% assign tzn = "UTC+12" %}
      {% elsif tz == "+1245" %}{% assign tzn = "UTC+12:45" %}
      {% elsif tz == "+1300" %}{% assign tzn = "UTC+13" %}
      {% elsif tz == "+1345" %}{% assign tzn = "UTC+13:45" %}
      {% elsif tz == "+1400" %}{% assign tzn = "UTC+14" %}
      {% else %}{% assign tzn = "UTC" | append: tz %}
      {% endif %}
      {% if time contains "00:00" %}
        <p class="author_title" datetime="{{ page.last_modified_at | date_to_xmlschema }}">Last Updated: {{ page.last_modified_at | date: "%A, %e&nbsp;%B&nbsp;%Y" }}</p>
      {% else %}
        <p class="author_title" datetime="{{ page.last_modified_at | date_to_xmlschema }}">Last Updated: {{ page.last_modified_at | date: "%R %A, %e&nbsp;%B&nbsp;%Y" }} {{ tzn }}</p>
      {% endif %}
    {% endif %}
    <div class="post-tags">
      {% if post %}
        {% assign tags = post.tags %}
      {% else %}
        {% assign tags = page.tags %}
      {% endif %}
      {% for tag in tags %}
        <a href="{{site.baseurl}}/tags/#{{tag|slugize}}">{{tag}}</a>
        {% unless forloop.last %}&nbsp;{% endunless %}
      {% endfor %}
    </div>
    {% if post %}
      {% if post.elsewhere %}<p style="text-align: center;">🔀 from {{post.elsewhere}}</p>{% endif %}
    {% else %}
      {% if page.elsewhere %}<p style="text-align: center;">🔀 from {{page.elsewhere}}</p>{% endif %}
    {% endif %}
  </div>
    
  <div class="entry">
    {{ content }}
  </div>

  <div class="post-categories">
    {% if post %}
      {% assign categories = post.categories %}
    {% else %}
      {% assign categories = page.categories %}
    {% endif %}
    {% for category in categories %}
      {% if category == "video" %}
      <a style="text-transform: capitalize;" href="{{site.baseurl}}/videos">{{category}}</a>
      {% elsif category == "live" %}
      <a style="text-transform: capitalize;" href="{{site.baseurl}}/live">{{category}}</a>
      {% else %}
      <a style="text-transform: capitalize;" href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>
      {% endif %}
      {% unless forloop.last %}&nbsp;{% endunless %}
    {% endfor %}
  </div>

  <div>
    <p><span class="share-box">Share:</span> <a href="http://twitter.com/share?text={{ page.title }}&url={{site.url}}{{page.url}}" target="_blank">Twitter</a>, <a href="https://www.facebook.com/sharer.php?u={{site.url}}{{page.url}}" target="_blank">Facebook</a></p>
  </div>

  <!--<div class="date">
    Written on {{ page.date | date: "%e %B %Y" }}
  </div>-->
  {% if comments %}
    {% include disqus.html %}
  {% endif %}
</article>
